@font-face {
  font-family: familiada;
  src: url(familiada.ttf);
}
body {
  font-family: familiada;
  background: black;
  color: white;
  font-size: 35px;
}

.answers tr td {
  opacity: 0;
  font-size: 120%
}
.answers tr.valid td {
  opacity: 1;
}
.invalid {
  color: red;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  display: inline-block;
  max-height: 42px;
  margin-left: 30px;
}
.score-container {
  margin-bottom: 50px
}
.pagination {
  display: block;
  text-align: center
}
.pagination a {
  margin: 0 10px;
}
table, tr, td, tbody {
  border: 0 !important;
}

.invalid-answers {
  list-style: none;
  font-size: 100px;
}
.logo {
  text-transform: uppercase;
  margin: 50px auto;
}
#question-title {
  text-align: center;
  margin: 50px auto;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 150%;
}
#suprise, #intro {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro {
  background: #fff;
  background-image: url(./../public/intro.jpg);
  background-size: cover;
}

#suprise {
  background: pink;
  background-image: url(./../public/suprise.jpg);
  background-size: cover;
}
